<html><head></head><body>{%macro datos(name,placeholder,type="text")%}
  <label for="name">{{name}}:</label>
  <p><input name="{{name}}" type="{{type}}" placeholder="{{placeholder}}"></p>
  {%endmacro%} {%macro camposNuevos(field)%}
  {{field.label}}
  <dd>{{field(**kwargs) | safe}}</dd>
  
  {%if field.errors%}
  <ul>
    {%for error in field.errors%}
    <li style="color: red">{{error}}</li>
    {%endfor%}
  </ul>
  {%endif%} {%endmacro%} {% macro render_field(field) %}
  <div>
    {{ field.label }} {{ field(class="form-control") }} {% if field.errors %}
    <ul class="text-danger">
      {% for error in field.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% endmacro %}
  </body></html>